header#myheader{

    color:#724E35;
    color:#de6f26;
}
#headercard{
    background-color:#de6f26;
    color: white;
}

nav {
    background-color:#de6f26;
}

footer{
    background-color: #de6f26;
    color: white;
}
#dog{
    margin: 0 auto;
}
#cat {
    margin: 0 auto;
}
.benefits{
    float: left;
    margin: 0 auto;
}
.benefits img{
    width: 18rem;
    height: 220px;
    /* float: left; */
}

main#index{background-color:#de6f26; color:white}
#gallery{background-color:white;}

div#xiaogoubg{
    background-color:#de6f26;
    color: white;
}

/* dog page */
body#pinkbg{
    background-color: #f5d9df;
}

#headingGroup span{
    color:#ea1c2c;
}

#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
@media(max-width:1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}
.navbar.scrolled{
    background-color: #e48a4e;
    transition: background 800ms;
}

.boneIcon{
        color:white;
        font-size: 2rem;
}
.content{
        margin-top: 100px;
        margin-bottom: 100px;
}
.blurb h2 {
    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    /* color:#f498b8; */
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}


#formbtn{
    text-align: center;
}

.orangeTitle{
    color:#e48a4e;
}
.otherResources{
    color:#5a554b;
}