header{
    background-image: url("img/hd2.jpg") ; 
    height: 280px;
    background-position: center; 
    background-size: cover;
    /* background-repeat: no-repeat; */
    color:#724E35;
}
nav {
    background-color: #8D8741;
    color: #FBEEC1;

}
#navLink{
    color: #FBEEC1;
}
footer{
    background-color: #8D8741;
    color: #FBEEC1;
}