#wrapper{
    height:1050px;
    width: 900px;
    margin: auto;
}
#header{
    width: 900px;
    height: 100px;
    background-color:teal;
    float: left;
    color: white;
    text-align: center;
}
#side{
    width: 300px;
    height: 900px;
    margin: 0px;
    float: left;
    background-color:cornflowerblue;
}
#activity{
    width: 100%;
    height: 300px;
    background-color:turquoise;
    padding: 0px;
    float: left;

}
#hobbies{
    width: 100%;
    height: 300px;
    background-color:wheat;
    padding: 0px;
    float: left;

}
#contact{
    width: 100%;
    height: 300px;
    background-color:steelblue;
    margin: 0px;
    padding: 0px;
    float: left;
    color:whitesmoke;


}
.main{
    width: 580px;
    height: 450px;
    background-color:lightblue;
    float: left;
    padding-left: 20px;
}

#footer{
    width: 900px;
    height: 50px;
    background-color:green;
    float: left;
    color: white;
    text-align: center;
}
img{
    width:100%;
}
.imgContainer{
    float:left;
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
}
.subContainer{
    text-align: center;
    padding: 0px 10px;
}
.textContainer{
    width: 60%;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}
p{
    margin: 0px 5px 10px 0px;
}
.icon{
    width: 30%;
    margin-right: 2%;
    border-radius: 20%;
}
ul{
    font-size: 20px;
}
#copyright{
    padding-top: 10px;
    font-size:15px;
    font-style: italic;
}